extends baseEmail

block content
  p Has recibido un email con informaci칩n de un cliente  游꿀游똂,
  p Descripcion: #{descripcionNegocio}
  p Direcci칩n: #{direccionNegocio}
  p T칠lefono: #{telefonoNegocio}
  p Facebook: #{redFacebook}
  p Instagram: #{redInstagram}
  p Youtube: #{redYoutube}
  p Twitter #{redTwitter}
  p Otra: #{redOtra}
  p Enlace Dominio Comprado: #{enlaceWeb}
  p Nombre de usuario Dominio Comprado: #{nombreDeUsuarioWeb}
  p Contrase침a Dominio Comprado: #{contrase침aWeb}
  p Nombre Dominio a Registrar: #{nombredominioPropuesto}
  p Enlace Hosting Cliente: #{enlaceHostingWeb}
  p Correo Hosting Cliente: #{userCorreoHostingWeb}
  p Contrase침a Hosting Cliente: #{passwordHostingWeb}
  p Enlace web anterior del Cliente: #{webAnteriorEnlace}
  p Que le gusta o disguta de la web anterior del Cliente: #{webAnteriorLikeDislike}
  p Correo Web Auto-Administrable Cliente: #{enlaceWebAutoadministrable}
  p Usuario Web Auto-Administrable Cliente: #{usuarioWebAutoadministrable}
  p Contre침a Web Auto-Administrable Cliente: #{contrase침aWebautoadministrable}
  p Web similar referencia: #{enlaceWebSimilar}
  p Que gusta de la referencia: #{enlaceWebSimilarLike}
  p Color 1: #{color_one}
  p Color 2: #{color_two}
  p Color 3: #{color_three}
  p Ideas del cliente para la web: #{ideasWeb}
  p Landing Site: #{checkLandingSite}
  p Standard Site: #{checkStandardSite}
  p E-commerce: #{checkEcommerce}
  p P치gina inicio: #{checkHomePage}
  p P치gina Servicios: #{checkServicesPage}
  p P치gina Acerca: #{checkAboutPage}
  p P치gina Contacto: #{checkContactPage}
  p P치gina Galer칤a: #{checkGalleryPage}
  p P치gina Blog: #{checkBlogPage}
  p P치gina Productos: #{checkProductPage}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href='https://studio73pty.com')
                    img(src='https://studio73pty.com/images/logo-inverse-128x61.png' alt='Logo')
  p Si necesita ayuda para resolver alguna duda, no dude en ponerse en contacto con nosotros!
  p - Equipo de Studio73.
